<a href="https://colab.research.google.com/github/DeboubaAfef/Emotion-recognition/blob/master/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***üêç PYTHON BASICS - INSTRUCTOR: Ranya Khabir| HACKERSPACE: Tataouine INTRODUCTION TO ARTIFICIAL INTELLIGENCE***

This Colab notebook covers **every fundamental Python concept** with interactive examples. Run each cell to learn and practice!

## üìå **1. Python Syntax ‚Äì The Rules of the Game üéÆ**
Python follows a simple and readable syntax. Unlike other languages like C, Java, or JavaScript, Python:
- Python **doesn‚Äôt use** `{}` for code blocks.
- **Indentation** is **mandatory** for structuring the code.
- It‚Äôs **case-sensitive** (`name` ‚â† `Name`).
- **Comments** start with `#`.

üîπ **Explanation:**

* Indentation is used instead of curly braces {} to define blocks of code.

* Python scripts can be executed directly without compiling.

* Whitespace matters, and incorrect indentation can cause errors.

* Single-line comments use #, while multi-line comments use triple quotes ''' or """.

In [ ]:
# ‚úÖ Example: Printing and Comments
# This is a comment
print('Hello, World!')  # Output: Hello, World!

Hello, World!

## üìå **2. Variables and Constants ‚Äì Storing Data üì¶**

A variable is used to store data, and it can change. A **constant** (by convention) is written in **UPPERCASE** and should not change.

üîπ **Explanation:**

* Variables are dynamically typed, meaning you don‚Äôt have to declare the type.

* Constants are not enforced in Python, but the convention is to use uppercase names for them.

* Variables can hold different types of values: integers, strings, floats, booleans, etc.

* Use descriptive names to make your code readable.

In [ ]:
# ‚úÖ Example: Variables
x = 10  # Integer
y = 'Hello'  # String
PI = 3.14159  # Constant (by convention)
print(x, y, PI)

10 Hello 3.14159

## üìå **3. Assigning & Reassigning Values üîÑ**

Variables can hold different types of values, and they can be reassigned.

üîπ Explanation

* You can assign a value to a variable using =.

* Variables in Python are dynamically typed, meaning you can change their type by reassigning them.

* You can assign new values to variables at any time.

In [ ]:
# ‚úÖ Example: Assigning and Swapping Variables
a, b = 5, 10
print('Before swap:', a, b)
a, b = b, a
print('After swap:', a, b)

Before swap: 5 10
After swap: 10 5

## üìå **4. Arithmetic Operators ‚Äì Playing with Numbers üî¢**

Python supports various arithmetic operations.

üîπ **Explanation:**

* Arithmetic operators allow performing mathematical operations on numeric values.
* The + operator is used for addition, - for subtraction, * for multiplication, / for division, // for floor division, % for modulus, and ** for exponentiation.

In [ ]:
# ‚úÖ Example: Arithmetic Operations
x = 10
y = 3
print('Addition:', x + y)
print('Subtraction:', x - y)
print('Multiplication:', x * y)
print('Division:', x / y)
print('Floor Division:', x // y)
print('Modulus:', x % y)
print('Exponentiation:', x ** y)

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Floor Division: 3
Modulus: 1
Exponentiation: 1000

## üìå **5. Comparison Operators ‚Äì Checking Conditions ü§î**

Used for True/False comparisons.

üîπ **Explanation:**

*   Comparison operators compare values and return a Boolean result (True or False).
*   These are often used in conditional statements and loops.

In [ ]:
# ‚úÖ Example: Comparison Operations
a, b = 10, 5
print('Equal:', a == b)
print('Not Equal:', a != b)
print('Greater Than:', a > b)
print('Less Than:', a < b)
print('Greater Than or Equal to:',a >= b)
print('Less than or equal to:', a <= b)

Equal: False
Not Equal: True
Greater Than: True
Less Than: False
Greater Than or Equal to: True
Less than or equal to: False

## üìå **6. Data Types ‚Äì What Can We Store? üìÇ**

Python supports different data types.

üîπ **Explanation:**

*   Data types define what kind of value a variable can hold.
*   Python supports several built-in data types including integers, floating-point numbers, strings, lists, tuples, dictionaries, and sets.

In [ ]:
# ‚úÖ Example: Data Types
int_var = 25
float_var = 5.5
str_var = 'Python'
bool_var = True
list_var = ['apple', 'banana', 'cherry']
tuple_var = (1, 2, 3)
dict_var = {'name': 'Ali', 'age': 25}
set_var = {1, 2, 3}
print(type(int_var), type(float_var), type(str_var))

<class 'int'> <class 'float'> <class 'str'>

## üìå **7. Strings ‚Äì Playing with Text ‚úçÔ∏è**
Strings allow you to work with text.

‚úÖ **Basic String Operations:**

In [ ]:
# ‚úÖ Example: String Operations
text = 'Python'
print(text.upper())
print(text.lower())
print(text[0])  # First character
print(text[-1])  # Last character

PYTHON
python
P
n

‚úÖ **String Concatenation:**

In [ ]:
first = "Rania"
last = "khabir"
full_name = first + " " + last  # "Ali Tunis"
print(full_name)

Rania khabir

‚úÖ **Strings (Best for Formatting):**

In [ ]:
name = "Rania"
age = 24
print(f"My name is {name} and I am {age} years old.")

My name is Rania and I am 24 years old.

## üìå **8. Boolean ‚Äì True or False? ‚úÖ‚ùå**

Booleans (True or False) are used in conditions.

In [ ]:
is_adult = True
print(10 > 5)  # True
print(10 == 5) # False

True
False

## üìå **9. Type Conversion ‚Äì Changing Data Types üîÑ**

You can convert between types.

In [ ]:
# ‚úÖ Example: Type Conversion
print(int("5"))  # 5
print(float("5.5"))  # 5.5
print(str(10))  # "10"
print(bool(0))  # False
print(bool(1))  # True

5
5.5
10
False
True

## üìå **10. If Statements ‚Äì Making Decisions üö¶**

In [ ]:
# ‚úÖ Example: If Condition
age = 18
if age >= 18:
    print('You can vote!')
else:
    print('You cannot vote.')

You can vote!

## üìå **11. If / Else Condition**

‚úÖ **Example**

In [ ]:
x = 10
if x > 5:
    print("x is greater than 5")
else:
    print("x is 5 or less")

x is greater than 5

## üìå**12. If / Else / Elif Condition**

In [ ]:
x = 10
if x > 10:
    print("Greater than 10")
elif x == 10:
    print("Equal to 10")
else:
    print("Less than 10")

Equal to 10

## üìå **11. Loops ‚Äì Repeating Actions üîÅ**

**For Loop ‚Äì Repeats a Fixed Number of Times**

In [ ]:
# ‚úÖ Example: For Loop
for i in range(5):
    print(i)

0
1
2
3
4

**While Loop ‚Äì Repeats Until Condition is False**

In [ ]:
# ‚úÖ Example: While Loop
x = 0
while x < 5:
    print(x)
    x += 1

0
1
2
3
4

## üéØ **Conclusion ‚Äì You're Ready to Code! üéØ**
‚úÖ You learned variables, data types, loops, conditions, and more!

‚úÖ Python is simple and powerful.

‚úÖ Practice by writing your own programs!